<h1 style="text-align:center">Real-time Comments</h1>

<div class="text-center fixed-bottom">
    <div>
        <%= form_with scope: :comment, url: '/comment/store', local: true do |form| %>
        <div class="form-group">
            <%= form.label :comment %>
            <%= form.text_field :comment %>
            <%= form.submit %>
        </div>
    <% end %>
</div>

<div id="fixed-top">
    <h2>Comments</h2>
    <% @comments.each do |comment| %>
    <p><%= comment.comment %></p>
    <% end %>
</div> 
 
</div>